<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a href="/leaderboard" class="active">Leaderboard</a>
        <a href="/countdown">Countdown</a>
        <a href="/about">About</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="navBar()">&#9776;</a>
    </div>

    <div id="clock">
            <table id="leaderboard" class="text">
                <tr>
                    <td><p id="counterup" class="text">1ยบ   </p></td>
                    <td id="first_place">
                        <p id="counterup" class="text"><%= alldates[0][0]%>d
                            <%= alldates[0][1]%>h </p>
                    </td>
                </tr>
                <tr>
                    <p id="counterup" class="text"><td><p id="counterup" class="text">2ยบ   </p></td>
                    <td id="second_place">
                        <p id="counterup" class="text"><%= alldates[1][0]%>d
                            <%= alldates[1][1]%>h</p>
                    </td>
                </tr>
                <tr>
                    <p id="counterup" class="text"><td><p id="counterup" class="text">3ยบ   </p></td>
                    <td id="third_place">
                        <p id="counterup" class="text"><%= alldates[2][0]%>d
                            <%= alldates[2][1]%>h</p>
                    </td>
                </tr>
                <!--                 <tr>
                    <td>3ยบ</td>
                    <td id="third_place"><%= alldates[2]%></td>
                </tr> -->
            </table>
    </div>

    <script>
        function navBar() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            }
            else
            { x.className = "topnav"; }
        }
    </script>

</body>

</html>